<html>
  <head>
    <title>PDF Metadata</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <h1>PDF Metadata</h1>
    <table>
      <tr>
        <th>Status</th>
        <td><span class="tag">{{ pdf_metadata.status }}</span></td>
      </tr>
      <tr>
        <th>Title</th>
        <td>{{ pdf_metadata.title }}</td>
      </tr>
      <tr>
        <th>Author</th>
        <td>{{ pdf_metadata.author }}</td>
      </tr>
      <tr>
        <th>Subject</th>
        <td>{{ pdf_metadata.subject }}</td>
      </tr>
      <tr>
        <th>Keywords</th>
        <td>{{ pdf_metadata.keywords }}</td>
      </tr>
      <tr>
        <th>Producer</th>
        <td>{{ pdf_metadata.producer }}</td>
      </tr>
      <tr>
        <th>Creation Date</th>
        <td>{{ pdf_metadata.creationDate.strftime("%B %d, %Y") }}</td>
      </tr>
      <tr>
        <th>Text</th>
        <td><a href="{{ pdf_metadata.content }}">{{ pdf_metadata.content }}</a></td>
      </tr>
    </table>
  </body>
</html>